* {
    margin:0;
    padding: 0;
}
h2 {
    text-align: center;
}
div {
margin-top: 30px;
margin-bottom: 30px;
width: 100%;
height: 100vh;
}

.content-1 {
    background-image: url("../img/accesosrios_500x355.jpg");
   
}
.content-2 {
    background-image: url("../img/Vinos-tinto_128003_1.jpg");
    background-repeat: repeat-x;

}
.content-3 {
    background-image: url("../img/image-powerful-huge-tornado-twisting-260nw-164844389.jpg");
   
    background-repeat: repeat-y;
    
}
.content-4 {
    background-image: url("../img/unnamed.png");
    background-repeat: no-repeat;
    
}
.content-5 {
    background-image: url("../img/accesosrios_500x355.jpg");
    background-repeat: no-repeat; 
    background-size:900X 506px;
 }
 .content-6 {
    background-image: url("../img/Vinos-tinto_128003_1.jpg");
    background-repeat: no-repeat; 
    background-size: 900px;
}
.content-7{
        background-image: url("../img/unnamed.png");
        background-repeat: no-repeat; 
        background-size: 100%;
     }
.content-8{
        background-image: url("../img/accesosrios_500x355.jpg");
        background-repeat: no-repeat; 
        background-size: auto;
     }
 .content-9{
        background-image: url("../img/Vinos-tinto_128003_1.jpg");
        background-repeat: no-repeat; 
        background-size: contain;
     }
.content-10{
        background-image: url("../img/accesosrios_500x355.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
     }
.content-11{
        background-image: url("../img/unnamed.png");
        background-repeat: no-repeat; 
        background-position: center bottom;
     }

