* {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
#nav-bar {
    width: 100%;
    position: absolute;
}
ul {
    font-size: 2em;
    text-align: right;
    margin-right: 50px;
}
li {
    display: inline-block;
    padding: 20px;
    list-style: none;
}
a {
    color: rgb(17, 16, 16);
    text-decoration: none;
    font-weight: 600;
}
p {
    font-size: 1.5em;
    text-align: justify;

}
#content-main {
    margin: 2em 5em;
}