* {
    margin: 0;
    padding: 0;
}
ul{
        font-size: 1.7em;
        text-align: right;
        background:  rgb(68, 182, 176);
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
    li{
        display: inline-block;
        padding: 17px;
    
        
    }
    .menu-contactenos{
        margin-right: 28px;
    }
    a{
        color: white;
        text-decoration: none;
    }

li:hover{
    font-size: 1.1em;
    background-color: rgb(68, 192, 186);

    }