
   
   body{
       background: cornsilk;
   }
  
   * {
      margin: 0;
      padding:0;
  }
  
  .nav {
      border-bottom: 1px solid #8e8ebb;
      text-align: right;
      height: 60px;
      line-height: 50px;
  }
  .menu {
      margin: 0 30px 0 0;
   
      
  }
  .menu a {
     
      text-decoration: none;
      color:rgb(68, 65, 65);
      margin: 0, 10px;
      line-height: 0.5px;
      padding-top: 40px;
      height: 30px;
      
     
    
  }
  label {
     /* padding-bottom:  0px;
      border-bottom: 2px  solid goldenrod;
    padding-left: 150px;*/
      margin: 0 40px 0 0;
      margin-left: 40px;
      font-size: 26px;
      line-height: 70px;
      display: none;
      width: 20px;
      float: left;
     
  }
  #toggle {
  display: none;
  
  
  }
  li:hover {
      background: #b9b6b6;
  }
  @media only screen and (max-width:649px) {   
  }
  label {
      display: block;
      cursor: pointer;
     
  
  }
  .menu{
      
      text-align: justify;
      width: 700%;
      display: none;
      background: rgba(26, 23, 29, 0.466);
      color: white;
  }
  .menu a {
      display: block;
      margin: 0;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
     
    
  }
  #toggle:checked + .menu {
      left:15px;
     position:fixed;
     margin-top: 60px;
      font-weight: 500;
      overflow:scroll ;
      height:700px;
      width:250px;
      display: block;   
      font-size: 1.1em;
      text-align: top  1.0px;
  }
  li:hover {
      font-size: 1.2em;
      
     
     
  }


  

/*clase de Elemeto*/
h1 {
    font-size:  70px;
    text-align: center;
    font-family: 'Vollkorn', serif;

}
/* clase no atada a ningún elemento*/
.centrado{
    margin:  0 auto 0 auto;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 50px;
}
/* clase atada a un elemento*/
p.color-fuente {
    color:rgba(127, 8, 238, 0.897);
    text-align: center;
    font-size: 40px;
    font-family:'Alegreya Sans'; 


}
div{
    display: block;
    margin: 0 auto 0 auto;
}
img{
    display: block;
    margin: 0 auto 0 auto;
}
p.fuente-enlace {
    font-size: 50px;
    text-align: center;
}
    .peso-fuente {
         text-align: center;
         font-size: 2.5em;
         font-family:Arial, Helvetica, sans-serif; 
         font-weight:bold ;

    }

    span {
        font-size: 2.3em;
        font-family: cursive;
        color: red;

    }
         
    .color-nombre1{
        text-align: center;
        font-size: 2.0em;
        color: magenta;

    }    
    .color-nombre2{
        text-align: center;
        font-size: 2.0em;
        color:mediumpurple;
    }
    .color-nombre3{
        text-align: center;
        font-size: 2.0em;
        color:paleturquoise;
    }
    .color-nombre4{
        text-align: center;
        font-size: 2.0em;
        color: rgb(245,77,157)
        
    }
    .color-nombre5{
        text-align: center;
        font-size: 2.0em;
        color: rgb(44,118,245)}

         .color-nombre6{
        text-align: center;
        font-size: 2.0em;
        color: rgb(147,246,93)}
        .color-nombre7{
            text-align: center;
            font-size: 2.0em;
            color: #CF847E}
            .color-nombre8{
                text-align: center;
                font-size: 2.0em;
                color:#8CD18D}
                .color-nombre9{
                    text-align: center;
                    font-size: 2.0em;
                    color:#94ACD4}
                    .color-nombre10{
                        text-align: center;
                        font-size: 2.0em;
                        color:rgba(229,107,41,255)
                    }
    
        
    

  


    

/* alegreya-sans-regular - latin */
@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/alegreya-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/alegreya-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alegreya-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alegreya-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/alegreya-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alegreya-sans-v14-latin-regular.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
  }



  





